<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <display-name>bearlive-server</display-name>
    <!--servlet定义-->
    <servlet>
        <!-- servlet名字 -->
        <servlet-name>RoomServlet</servlet-name>
        <!-- servlet实现的类-->
        <servlet-class>com.github.microkibaco.bearlive.server.RoomServlet</servlet-class>
    </servlet>

    <!--servlet映射-->
    <servlet-mapping>
        <!--servlet名字-->
        <servlet-name>RoomServlet</servlet-name>
        <!--访问servlet 的url地址-->
        <url-pattern>/roomServlet</url-pattern>
    </servlet-mapping>
</web-app>